.MapImage {
    background-image: url(https://mblogthumb-phinf.pstatic.net/20130331_90/hsjoe75_1364696013247nqd7y_PNG/%B4%EB%C7%D1%B9%CE%B1%B9%C1%F6%B5%B502.png?type=w2);
    background-size: 600px;
    width: 800px;
    height: 1000px;
    background-repeat: no-repeat;
    margin: 50px;
}